<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  <!-- This path is relative to this NuGet.config file -->
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
        <package pattern="*" />
    </packageSource>
    <packageSource key="local-jitzu">
        <package pattern="Jitzu.Sdk" />
    </packageSource>
  </packageSourceMapping>
</configuration>

